table{
    border-spacing: 0;
    width: 30%;
    
}
thead{
    background-color: gray;
}
tbody{
    text-align: center;
}
img{
    height: 90px;
    border-radius: 5px;
}
td{
    border: 2px solid gray;
}
tbody tr:nth-child(odd) {
background-color: rgb(212, 180, 141);
}
tbody tr:hover{
    background-color: rgb(53, 245, 6);
    transition: 1s;
}